body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.5;
    max-width: 900;

}

.links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.links a {
    background-color: chocolate;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    text-indent: 45px;
    text-align: justify;
}

img {
    vertical-align: middle;
}